!!!
%html
  %head
    %title= ENV['APP_NAME']
    %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    %meta(http-equiv="refresh" content="60")
  %body
    = yield
